@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background: #dfe9f5;
}
.container {
	display: flex;
}
nav {
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	left: 0;
	background: #0c0c0c;
	width: 280px;
	overflow: hidden;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo {
	text-align: center;
	display: flex;
	margin: 10px 0 0 5px;
	position: relative;
	color: rgb(85, 83, 83);
	font-size: 14px;
	width: 280px;
	padding: 10px;
}
.logo img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.logo span {
	font-weight: bold;
	font-size: 24px;
	position: relative;
	top: 12%;
	margin-left: 10px;
	margin-top: 10px;
}
a {
	position: relative;
	color: rgb(85, 83, 83);
	font-size: 14px;
	display: table;
	width: 280px;
	padding: 10px;
}
nav .fas {
	position: relative;
	width: 70px;
	height: 40px;
	top: 14px;
	font-size: 20px;
	text-align: center;
}
.fas.active {
	color: #eee;
	font-weight: bold;
}
.nav-item {
	position: relative;
	top: 12px;
	margin-left: 10px;
	font-weight: 600;
}
a:hover {
	color: #eee;
}
.nav-item.active {
	color: #eee;
	font-weight: bold;
}
.logout {
	position: absolute;
	bottom: 0;
}

/* Main Section : Pesanan Terbaru & Data User */
.main {
	position: relative;
	padding: 20px;
	width: 100%;
}
.main-top {
	display: flex;
	width: 100%;
}
/* .main-top i {
	position: absolute;
	right: 0;
	margin: 10px 30px;
	color: rgb(110, 109, 109);
	cursor: pointer;
} */

/* Pesanan Terbaru */
.main-dashboard {
	display: flex;
	margin-top: 20px;
}
.list-dashboard-box {
	width: 100%;
	height: 220px;
	padding: 10px 10px 30px 10px;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
	overflow: scroll;
}
.list-dashboard-box-card {
	width: 100%;
	height: 220px;
	padding: 10px 10px 30px 10px;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.list-dashboard-box table {
	width: 100%;
	margin: 0px auto;
}
.list-dashboard-box .judul td {
	text-align: center;
	font-size: 10px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 5px;
}
.list-dashboard-box table tr th {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	text-align: center;
	font-size: 12px;
}
td {
	text-align: center;
	font-size: 14px;
	padding: 2px;
}

/* Order */
.main-order {
	margin-top: 20px;
	text-transform: capitalize;
}
.list-order-box {
	width: 100%;
	height: 300px;
	padding: 10px 10px 30px 10px;
	margin-top: 10px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

/* Data User */
.list-order-box table {
	width: 100%;
	margin: 0px auto;
}
.list-order-box table tr th {
	border-bottom: 2px solid #ddd;
	padding: 8px;
	text-align: center;
	font-size: 12px;
}
button {
	width: 60px;
	height: 25px;
	border-radius: 10px;
	cursor: pointer;
	margin: 2px;
}
.terima {
	background-color: rgb(0, 119, 0);
	color: white;
}
.terima:hover {
	background-color: rgb(0, 205, 0);
	color: white;
	font-weight: bold;
}
.tolak {
	background-color: rgb(155, 0, 0);
	color: white;
}
.tolak:hover {
	background-color: rgb(255, 0, 0);
	color: white;
	font-weight: bold;
}

/* Paket.php */
.list-order-box-paket {
	width: 100%;
	height: 550px;
	padding: 10px 10px 30px 10px;
	margin-top: 10px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.list-order-box-paket-tambah-paket {
	width: 100%;
	height: 489px;
	padding: 10px 10px 30px 10px;
	margin-top: 10px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.list-order-box-paket-tambah-paket .form-group input {
	display: block;
	margin-bottom: 15px;
	width: 100%;
}
.list-order-box-paket-tambah-paket .form-group select {
	display: block;
	margin-left: -3px;
	margin-bottom: 15px;
	width: 100%;
}
.tambah-paket {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
}
.tambah-paket h1 {
	flex-grow: 1;
}
.tambah-paket a {
	margin-right: 30px; /* Adjust right margin as needed */
	color: rgb(110, 109, 109);
	cursor: pointer;
}
.tambah-paket-btn {
	width: 100%;
	background-color: rgb(110, 109, 109);
	font-weight: 600;
	height: 40px;
	font-size: 16px;
	margin-top: 45px;
}

.btn-edit,
.btn-delete {
	display: inline;
	width: 65px;
	height: 65px;
	text-decoration: none;
	color: #eee;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 7px;
}

.btn-edit {
	background-color: orange;
}

.btn-delete {
	background-color: red;
}

.btn-edit:hover,
.btn-delete:hover {
	background-color: #333;
	color: #0c0c0c;
}

.btn-kembali {
	text-decoration: none;
	color: #fff;
	background-color: #efe;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 5px;
	text-align: center;
	font-weight: 700;
}

.btn-kembali:hover {
	background-color: #333;
}

label input {
	margin: 12px 10px;
}
.html {
	color: rgb(25, 94, 54);
}
.css {
	color: rgb(104, 179, 35);
}
.js {
	color: rgb(28, 98, 179);
}
