* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../assets/images/wedding.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.wrapper {
  width: 1500px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  font-family: "Courier New", Courier;
  color: black;
  float: left;
}
.menu {
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* NAVIGATION */
nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left;
}
nav ul li a {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
}

nav ul li a:hover {
  display: block;
  height: 50px;
  border: none;
  background-size: 100%;
  outline: red;
  color: #f44336;
  cursor: pointer;
  transition: 0.5s;
  font-size: 120%;
}
/* txt box */
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
  color: #fff;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
}
/* Course */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
.home {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.home-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.layer h3 {
  color: #fff;
}
.layer:hover {
  background: rgba(252, 61, 61, 0.7);
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.wrapper .logo a {
  text-decoration: none;
}
